#include "resource.h"
#include <afxres.h>

IDD_IMAGEDIALOG_DIALOG DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Image Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_IMAGE_AREA,"Static",SS_BITMAP | WS_BORDER,10,10,300,130
    PUSHBUTTON      "Open",IDC_OPEN_BUTTON,210,170,45,14
    PUSHBUTTON      "Close",IDC_CLOSE_BUTTON,260,170,45,14
END

IDR_MAINFRAME ICON "res\\app.ico"
